<div class="row">
  <div class="col-6">
    <h3>ngFor Simple</h3>
    <ul class="list-group">
      <li
        class="list-group-item bg-light"
        *ngFor="let item of items"
        @myInsertRemoveTrigger
      >
        <b>{{ item.name }}</b>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <h3>ngFor with trackBy</h3>
    <ul class="list-group">
      <li
        class="list-group-item bg-light"
        *ngFor="let item of items; trackBy: trackByItemId"
        @myInsertRemoveTrigger
      >
        <b>{{ item.name }}</b>
      </li>
    </ul>
  </div>
</div>
